@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body{
    /* background: #080808; */
    /* background: #2f3556; */
    /* background: #abcde6; */
    background: #10101a;
    /* background: #D9E2E9; */
    color: #fff;
    /* color: #2f3556; */

}

/* ====================================== navbar ======================================   */
.topnav{
    /* display: flex;
    justify-content: space-between; */
    padding: 10px 2%;
    /* width: 90%; */
    margin: auto;
}
/* .topnav.scroll {
  background-color: #A1572F;
  color: #eef;
} */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: absolute; */
}
.active{
    width: 200px;
    color: #fff;
    /* color: #2f3556; */

    text-decoration: none;
    font-size: 25px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #fff;
    /* color: #2f3556; */
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
#resume-button-1{
  background-color: #ff004f;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0;
}
#resume-button-1 i,#resume-button-1{
  color: #fff;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}


/* ----------------------------------home --------------------------------------  */
#home{
    width: 80%;
    min-height:300px ;
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
  background: url(../img/Portfolio.gif);
  background-size: 100% 100%;
  padding: 10%;
  background-color: #ababab;
  border: 1px solid #ababab;
  border-radius: 10px;
}
.home-div{
  text-align: left;
}

.home-animated-div img{
  width: 100%;
  height: 300px;
}
/* .home-img{
    width: 283px;
    border-radius:45%;

} */
#home h1{
    font-size: 60px;
    /* margin-top: 20px; */
    color: #ff004f;
    
}
#home span{
    color: #ff004f;
}

.home-div-intro{
  margin-bottom: 40px;
}
  #resume-button-2{
    /* margin-top: 30px; */

    background-color: #ff004f;
   text-decoration: none;
    border-radius: 6px;
    padding:1rem 4rem;

    color: #fff;
  }
  
  #resume-button-2:hover,#resume-button-1:hover {
    background-color: #c9164f;
    border-radius: 7px;
    color: white;
    cursor: pointer;
  }
/* ----------------------------------------- about ----------------------------------------------  */
#about{
  width: 85%;
  margin: auto;
  margin-top: 100px;
    padding: 50px 0;
    /* color:#ababab ; */
    /* color: #2f3556; */

}
.about-child-div{
    width: 50%;
    margin: auto;
    text-align: center;
}
/* .about-img{
  padding-top:  20px;

} */
.row img{
  width: 65%;
  height: 100%;
  border-radius: 20px;
}
.about-child-div h2{
   margin-top: 10px;
   margin-bottom: 10px;
   
}
.about-child-div p{
    gap: 5px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ff004f;
    text-align: center;
}

/* ========================================== skills =====================================  */
#skills{
  margin-top: 100px;
}
#grid{
  border-top: 1px solid #ababab;
  width: 85%;
  margin: auto;
    /* margin: 3vh; */
    padding: 3vh;
    padding-top: 9vh;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
    color: white;
    /* border: 1px solid red; */
    text-align: center;
    /* border-top: 1px solid gainsboro; */
  
  }
.skills-card-img{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  #skills-card{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  #skills-card-img{
    width: 100%;
  }



  /* ------------------- projects -----------------------  */
  #projects{
    width: 85%;
    margin: auto;
    /* text-align: center; */
    /* border-top: 1px solid #ababab; */
    margin-top: 100px;


  }
  /* .project-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 20px;
  } */
  .project-card-image-div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
.project-deployed-btn img{
    height: 20px;
    width: 20px;
}
.project-card{
  width: 85%;
  margin: auto;
    padding: 20px;
    /* background: #120f24; */
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  /* .project-card-image-div{
    width: 50%;
    height: 100%;
  } */
.project-card-dtails-div{
  margin-left: 40px;
}
.project-card h1{
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: 700;
    font-size: 3rem;
    /* text-align: center; */
}
.project-card p{
  /* font-family: "Roboto Slab", serif; */
  /* font-size: 1.1rem; */
  text-align: justify;
}

.project-tech-stack {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
.teck-stack-heading{
  margin-top: 30px;
}
.project-tech-stack div{
  /* background: #ffff; */
  height: 100%;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 3px;
}
.project-tech-stack img{
  height: 3rem;
  width: 3rem;
}
.project-deployed-div{
  width: 100%;
  margin-top: 30px;
}
.project-card-dtails-div button{
  /* background: #fff; */
  width: 49%;
  border-radius: 5px;
  font-size: 20px;
}
.project-deployed-btn img{
  margin-top: 2px;
  height: 20px;
  width: 20px;
}
.project-github-btn{
  font-family: "Nunito", sans-serif;

  padding: 12.5px 10px;
  background-color: black;
  color: white;
}
.project-github-btn i{
  color: white;
  
}
.project-deployed-btn{
  font-family: "Nunito", sans-serif;

  padding: 10.4px 10px;
  color: rgb(4, 89, 146);
}


/* =========================================== statistics ==================================================  */

#statisticsdiv{
  width: 85%;
  margin: auto;
}
#statisticsdiv > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 5rem;
  }
  #statisticsdiv > div:nth-child(1) {
    flex-direction: column;
    text-align: center;
  }
}


  /* -----------------------------contact ---------------------------------  */
  #contact{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .row{
    display: flex;
    width: 85%;
    margin: auto;
  }
  .contact-heading{
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-left: 15px;

    text-align: center;
    color: #ff004f;
  }
  .contact-left{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 38%;
    /* margin-left: 15px; */
    padding: 0px;
    margin-top: 10px;
  }
  
  /* .contact-left div{
    margin-bottom: 10px;
  } */
  .contact-left i{
    color: #ff004f;
    /* margin-left: 15px; */
    font-size: 25px;
}
.contact-left a{
    color:#ababab ;

    /* margin-left: 15px; */
    
    font-size: 25px;
    /* margin-bottom: 0px; */
    text-decoration: none;
    /* transition: transform 0.5s; */
}

  .contact-right{
    /* margin-top:20px ; */
    width: 60%;
  }

  .btn.btn2{
    border: 0;
    border-radius: 7px;
    display: inline-block;
    background: #ec064f;
  }
  .contact-right form{
    /* margin-top: 10px; */

    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0 ;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    color: white;
    padding:14px 60px ;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}