
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
.topnav{
    /* display: flex;
    justify-content: space-between; */
    padding: 10px 5%;
   
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.active{
    width: 200px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#home{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 10%;
    font-size: 30px;

}
.home-img{
    height: 300px;
    width: 283px;
    border-radius:45%;

}
#home h1{
    font-size: 60px;
    margin-top: 20px;
}
#home span{
    color: #ff004f;
}
#about{
    padding: 80px 0;
    color:#ababab ;
}
.row{
    width: 50%;
    margin: auto;
    text-align: center;
}
.row h2{
   margin-top: 5px;
   margin-bottom: 5px;
}
.row p{
    gap: 5px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
}

#grid{
    margin: 3vh;
    padding: 3vh;
    padding-top: 9vh;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
    color: white;
    /* border: 1px solid red; */
    text-align: center;
    border-top: 1px solid gainsboro;
  
  }

.skills-card-img{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  #skills-card{
    width: 100px;
    height: 100px;
    /* border: 1px solid red; */
  }
  #skills-card-img{
    width: 100%;
  }



  /* ------------------- projects -----------------------  */
  
  #projects{
    width: 90%;
    margin: auto;
  }
  
  .project-card-child-div{
    display: flex;
  }
  .project-card img{
    width: 40%;
    height: 300px;
  }

  .project-github-btn{
    background-color: white;
  }
  .project-github-btn a{
    color: black;
  }